@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Is there anything else you'd like to share about your purchase? (Text)
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part-x">
                    <div class="text-response-component">
                        <div class="text-response-header">Responses</div>
                        <ul class="text-response-list">
                            <li>
                                <div class="text-response-list-item-text">The Mint Meltaway is my monther's favorite candy!</div>
                                <div class="text-response-list-item-time">1 min ago</div>
                            </li>
                            <li>
                                <div class="text-response-list-item-text">I love these chocolates, but I could't figure out the online order system. long long long long long text for wrapping test.</div>
                                <div class="text-response-list-item-time">2 min ago</div>
                            </li>
                            <li>
                                <div class="text-response-list-item-text">It was so nice to have samples next to each item.</div>
                                <div class="text-response-list-item-time">2 min ago</div>
                            </li>
                            <li>
                                <div class="text-response-list-item-text">I couldn't find parking anywhere</div>
                                <div class="text-response-list-item-time">3 min ago</div>
                            </li>
                            <li>
                                <div class="text-response-list-item-text">I can't wait for the seasonal flavors!</div>
                                <div class="text-response-list-item-time">4 min ago</div>
                            </li>

                        </ul>
                        <div class="text-response-footer"><a href="#">See all responses</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Rating Example Star
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="columnChartStar"></div>
                </div>
            </div>
        </div>
        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Likert Example One?
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="likertChart1"></div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Choices Example One?
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="barChart1"></div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Choices Example Two?
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="barChart2"></div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Choices Example Three?
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="barChart3"></div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Choices Example Four?
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="barChart4"></div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Choices Example Five?
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="barChart5"></div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Choices Example Six?
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="barChart6"></div>
                </div>
            </div>
        </div>



        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Rating Example Number
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="columnChartNumber"></div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Rating Example Smiley
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="columnChartSmiley"></div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Gauge Example One?
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div class="row">

                        <div id="gaugeArc"></div>

                        <div id="gaugeBar"></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Gauge Example Two?
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div class="row">

                        <div id="gaugeArc2"></div>

                        <div id="gaugeBar2"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{

    <script>
        {
            let obj = {};
            obj.container = 'likertChart1';
            obj.categories = ['Logging into your account', 'Selecting your document', 'Finding an available doc', 'Having your appiontpint', 'Contacting customer support'];
            obj.data = Array.from({ length: obj.categories.length }, () => Math.floor(Math.random() * 100));
            obj.data2 = Array.from({ length: obj.categories.length }, () => Math.floor(Math.random() * 100));
            obj.data3 = Array.from({ length: obj.categories.length }, () => 0);
            for (let i = 0; i < obj.categories.length; i++) {
                obj.data3[i] = 100 - obj.data[i] - obj.data2[i];
            }
            createLikertChart(obj);
        }
    </script>



    <script>
        barObj.container = 'barChart2';
        barObj.data = Array.from({ length: 5 }, () => Math.floor(Math.random() * 100));
        barObj.dataForBackground = Array(barObj.data.length).fill(100);
        barObj.categories = ['Option 1', 'A Option 2', 'C Option 3', 'B Option 4', 'Option 5', 'Option 6 very very very very very very very very very long text', 'Option right aligned'];
        createChoiceChart(barObj);
    </script>

    <script>
        barObj.container = 'barChart3';
        barObj.data = Array.from({ length: 10 }, () => Math.floor(Math.random() * 100));
        barObj.dataForBackground = Array(barObj.data.length).fill(100);
        barObj.categories = ['Option 1', 'Option 2', 'Option 3', 'Option 4', 'Option 5', 'Option 6',
            'Option 7', 'Option 8', 'Option 9', 'Option 10', 'Option 11', 'Option 12', 'Option 6 very very very very very very very very very long text', 'Option 14', 'Option right aligned'];
        createChoiceChart(barObj);
    </script>

    <script>
        barObj.container = 'barChart4';
        barObj.data = Array.from({ length: 15 }, () => Math.floor(Math.random() * 100));
        barObj.dataForBackground = Array(barObj.data.length).fill(100);
        barObj.categories = Array.from({ length: 35 }, (v, i) => 'Option ' + i);
        barObj.height = 900;
        createChoiceChart(barObj);
    </script>

    <script>
        barObj.container = 'barChart5';
        barObj.data = Array.from({ length: 20 }, () => Math.floor(Math.random() * 100));
        barObj.dataForBackground = Array(barObj.data.length).fill(100);
        barObj.categories = Array.from({ length: 35 }, (v, i) => 'Option ' + i);
        barObj.height = 900;
        createChoiceChart(barObj);
    </script>

    <script>
        barObj.container = 'barChart6';
        barObj.data = Array.from({ length: 30 }, () => Math.floor(Math.random() * 100));
        barObj.dataForBackground = Array(barObj.data.length).fill(100);
        barObj.categories = Array.from({ length: 35 }, (v, i) => 'Option ' + i);
        barObj.height = 900;
        createChoiceChart(barObj);
    </script>

    <script>
        columnObj.container = 'columnChartStar';
        columnObj.data = Array.from({ length: 5 }, () => Math.floor(Math.random() * 100));
        columnObj.dataForBackground = Array(columnObj.data.length).fill(100);
        columnObj.categories = ['Very Happy', 'Happy', 'Neutral', 'Unhappy', 'Disappointed'];
        columnObj.subType = 'star';
        createRatingChart(columnObj);
    </script>

    <script>
        columnObj.container = 'columnChartNumber';
        columnObj.data = Array.from({ length: 5 }, () => Math.floor(Math.random() * 100));
        columnObj.dataForBackground = Array(columnObj.data.length).fill(100);
        columnObj.categories = ['1', '2', '3', '4', '5'];
        columnObj.subType = 'number';
        createRatingChart(columnObj);
    </script>

    <script>
        columnObj.container = 'columnChartSmiley';
        columnObj.data = Array.from({ length: 5 }, () => Math.floor(Math.random() * 100));
        columnObj.dataForBackground = Array(columnObj.data.length).fill(100);
        columnObj.categories = ['1', '2', '3', '4', '5'];
        columnObj.subType = 'smiley';
        createRatingChart(columnObj);
    </script>

    <script>
        gaugeArcObj.container = 'gaugeArc';
        gaugeArcObj.y = -33;
        createGaugeArc(gaugeArcObj);

        gaugeBarObj.container = 'gaugeBar';
        gaugeBarObj.data = [60, 16, 24];
        createGaugeBar(gaugeBarObj);
    </script>

    <script>

        gaugeArcObj.container = 'gaugeArc2';
        gaugeArcObj.y = 50;
        createGaugeArc(gaugeArcObj);

        gaugeBarObj.container = 'gaugeBar2';
        gaugeBarObj.data = [24, 16, 60];
        createGaugeBar(gaugeBarObj);

    </script>

}
