@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>UX Design Development Env</h2>
        
        <h3>Known Issues</h3>
        <ul>
            <li>Choice bar long labels ellipssised, but no tooltip support.</li>
            <li>Scroll bar width is hard to control</li>
            <li>-100 and 100 can not be centered at same time. </li>
           

        </ul>
    </div>
</div>


@section Scripts{

  

}
