@{
    ViewData["Title"] = "Rating Page";
}

<div class="row">
    <div class="col-md-12">
        @for (int i = 2; i <= 5; i++)
        {
            <div class="highchart-question-container">
                <div class="highchart-question-title">
                    1. Rating Smiley - @i
                </div>
                <div class="highchart-main-section">
                    <div class="highchart-right-part">
                        <div id="ratingSmileyChart-@i"></div>
                    </div>
                </div>
            </div>
        }

        @for (int i = 2; i <= 10; i++)
        {
            <div class="highchart-question-container">
                <div class="highchart-question-title">
                    1. Rating Star - @i
                </div>
                <div class="highchart-main-section">
                    <div class="highchart-right-part">
                        <div id="ratingStarChart-@i"></div>
                    </div>
                </div>
            </div>           
        }

        @for (int i = 2; i <= 10; i++)
        {
            <div class="highchart-question-container">
                <div class="highchart-question-title">
                    1. Rating Number - @i
                </div>
                <div class="highchart-main-section">
                    <div class="highchart-right-part">
                        <div id="ratingNumberChart-@i"></div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


@section Scripts{

    <script>
               
        for (var i = 2; i <= 5; i++) {
            var obj = {};
            obj.container = 'ratingSmileyChart-' + i;
            obj.data = Array.from({ length: i }, () => Math.floor(Math.random() * 100));
            obj.dataForBackground = Array(obj.data.length).fill(100);

            switch (i) {
                case 2:
                    obj.categories = ["Very Happy", "Very Unhappy"];
                    break;
                case 3:
                    obj.categories = ["Very Happy", "Neutral",  "Very Unappy"];
                    break;
                case 4:
                    obj.categories = ['Very Happy', 'Happy', 'Unhappy', 'Very Unhappy'];
                    break;
                case 5:
                    obj.categories = ['Very Happy', 'Happy', 'Neutral', 'Unhappy', 'Very Unhappy'];
                    break;
                default:
                    break;
            }

            obj.subType = 'smiley';
            createRatingChart(obj);
        }       
    </script>

    <script>
        for (var i = 2; i <= 10; i++) {
            var obj = {};
            obj.container = 'ratingStarChart-' + i;
            obj.data = Array.from({ length: i }, () => Math.floor(Math.random() * 100));
            obj.dataForBackground = Array(obj.data.length).fill(100);

            obj.categories = [];
            for (var j = 1; j <= i; j++)
                obj.categories.push(j);
            
            obj.subType = 'star';
            createRatingChart(obj);
        }        
    </script>

    <script>
        for (var i = 2; i <= 10; i++) {
            var obj = {};
            obj.container = 'ratingNumberChart-' + i;
            obj.data = Array.from({ length: i }, () => Math.floor(Math.random() * 100));
            obj.dataForBackground = Array(obj.data.length).fill(100);

            obj.categories = [];
            for (var j = 1; j <= i; j++)
                obj.categories.push(j);

            obj.subType = 'number';
            createRatingChart(obj);
        }
    </script>

}
