@{
    ViewData["Title"] = "Rating Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Rating Example Number
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="columnChartNumber"></div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Rating Example Star
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="columnChartStar"></div>
                </div>
            </div>
        </div>

        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Rating Example Smiley
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part">
                    <div id="columnChartSmiley"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        let obj = {};
        obj.container = 'columnChartStar';
        obj.data = Array.from({ length: 5 }, () => Math.floor(Math.random() * 100));
        obj.dataForBackground = Array(obj.data.length).fill(100);
        obj.categories = ['Very Happy', 'Happy', 'Neutral', 'Unhappy', 'Disappointed'];
        obj.subType = 'star';
        createRatingChart(obj);
    </script>

    <script>
        obj.container = 'columnChartNumber';
        obj.data = Array.from({ length: 5 }, () => Math.floor(Math.random() * 100));
        obj.dataForBackground = Array(obj.data.length).fill(100);
        obj.categories = ['1', '2', '3', '4', '5'];
        obj.subType = 'number';
        createRatingChart(obj);
    </script>

    <script>
        obj.container = 'columnChartSmiley';
        obj.data = Array.from({ length: 5 }, () => Math.floor(Math.random() * 100));
        obj.dataForBackground = Array(obj.data.length).fill(100);
        obj.categories = ['1', '2', '3', '4', '5'];
        obj.subType = 'smiley';
        createRatingChart(obj);
    </script>

}
