@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">

        @for (int i = 2; i <= 50; i++)
        {
            <div class="highchart-question-container">
                <div class="highchart-question-title">
                    1. Choices Example @i?
                </div>
                <div class="highchart-main-section">
                    <div class="highchart-right-part">
                        <div id=@("choiceChart-" + i.ToString())></div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


@section Scripts{

    <script>
        for (var i = 2; i <= 50; i++) {
            let obj = {};
            obj.container = 'choiceChart-' + i;
            obj.categories = Array.from({ length: i }, () => 'Option ' + i);
            obj.data = Array.from({ length: obj.categories.length }, () => Math.floor(Math.random() * 100));
            obj.dataForBackground = Array(obj.data.length).fill(100);
            createChoiceChart(obj);
        }
    </script>
}
