@{
    ViewData["Title"] = "Text Page";
}

<div class="row">
    <div class="col-md-12">
       
        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Is there anything else you'd like to share about your purchase? (Text)
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part-x">
                    <div class="text-response-component">
                        <div class="text-response-header">Responses</div>
                        <ul class="text-response-list">
                            <li>
                                <div class="text-response-list-item-text">The Mint Meltaway is my monther's favorite candy!</div>
                                <div class="text-response-list-item-time">1 min ago</div>
                            </li>
                            <li>
                                <div class="text-response-list-item-text">I love these chocolates, but I could't figure out the online order system. long long long long long text for wrapping test.</div>
                                <div class="text-response-list-item-time">2 min ago</div>
                            </li>
                            <li>
                                <div class="text-response-list-item-text">It was so nice to have samples next to each item.</div>
                                <div class="text-response-list-item-time">2 min ago</div>
                            </li>
                            <li>
                                <div class="text-response-list-item-text">I couldn't find parking anywhere</div>
                                <div class="text-response-list-item-time">3 min ago</div>
                            </li>
                            <li>
                                <div class="text-response-list-item-text">I can't wait for the seasonal flavors!</div>
                                <div class="text-response-list-item-time">4 min ago</div>
                            </li>

                        </ul>
                        <div class="text-response-footer"><a href="#">See all responses</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
        
   

}
