@{
    ViewData["Title"] = "Text Page";
}

<div class="row">
    <div class="col-md-12">
       
        <div class="highchart-question-container">
            <div class="highchart-question-title">
                1. Is there anything else you'd like to share about your purchase? (Upload)
            </div>
            <div class="highchart-main-section">
                <div class="highchart-right-part-x">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>ICON</th>
                                    <th>File</th>
                                    <th>Respondent</th>
                                    <th>Size</th>
                                    <th>Uploaded</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>Cocoa Dream Recipe</td>
                                    <td>Kate Wilson</td>
                                    <td>100MB</td>
                                    <td>Just now</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>SCF_Recipe123</td>
                                    <td>Thomas cook</td>
                                    <td>20MB</td>
                                    <td>3h ago</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Super Chocolate Craze</td>
                                    <td>Laurie chen</td>
                                    <td>40MB</td>
                                    <td>Jul 6</td>
                                </tr>
                            </tbody>
                            @*<tfoot>
                                <tr>
                                    <td>Sum</td>
                                    <td>$180</td>
                                </tr>
                            </tfoot>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
        
   

}
