
/********** CHART CONTAINERS ****************/
.highchart-question-container {
    box-shadow: rgba(0, 0, 0, 0.1) 0.3px 0.9px, rgba(0, 0, 0, 0.13) 0px 1.6px 3.6px;
    background-color: white;
    margin: 2rem 0px;
    font-family: "Segoe UI";
    font-size: 1rem;
}

.highchart-question-title {
    padding: 1rem;
    color: rgb(50, 49, 48);
    border-bottom: 1px solid rgb(237, 235, 233);
}

.highchart-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0px;
}

.highchart-left-part {
}

.highchart-right-part {
    margin: auto 0px;
}

.highchart-main-section-nps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0px;
}

.highchart-left-part-nps {
    margin-right: 5rem;
    margin-top: -50px;
    margin-bottom: 1rem;
}

.highchart-right-part-nps {
    margin-bottom: 1rem;
}


/********** Shared ****************/
.xaxis-label {
    font-family: "Segoe UI";
    font-size: 14px;
    line-height: 20px;
    color: #323130;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    text-align: right;
}

.yaxis-label {
    font-family: "Segoe UI";
    font-size: 12px;
    line-height: 16px;
    color: #605E5C;
}

.legend-label {
    font-family: "Segoe UI";
    font-size: 12px;
    line-height: 16px;
    color: #605E5C;
}

.tooltip-container {
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI";
    font-size: 12px;
    line-height: 16px;
    color: "#FFFFFF";
}

.tooltip-value {
    font-weight: bold;
}

.tooltip-response-count {
    display: block;
}

/********** NPS CHART ****************/
.nps-gauge-value-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nps-gauge-value {
    font-family: "Bahnschrift";
    font-size: 28px;
    line-height: 40px;
    color: #323130;
}

.nps-gauge-text {
    font-family: "Segoe UI";
    font-size: 12px;
    line-height: 16px;
    color: #605E5C;
}

.nps-gauge-y-label {
    font-family: "Bahnschrift";
    font-size: 14px;
    line-height: 16px;
    color: #605E5C;
}

.nps-bar-title {
    font-family: 'Segoe UI';
    font-size: 12px;
    line-height: 20px;
    color: #323130;
}
.nps-bar-value{
    font-family: "Segoe UI";
    font-size: 14px;
    line-height: 16px;
    color: white;
}



/********** TEXT RESPONSE ****************/
.text-response-component {
    font-family: Segoe UI;
    color: #323130;
}

.text-response-header {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.text-response-footer {
    margin-bottom: 1rem;
}

.text-response-list {
    list-style-type: none;
    padding: 0px;
}

    .text-response-list li:first-of-type {
        border-top: solid 1px #EDEBE9;
    }

    .text-response-list li {
        border-bottom: solid 1px #EDEBE9;
    }



.text-response-list-item-text {
    margin: 1rem;
    margin-bottom: 0px;
}

.text-response-list-item-time {
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: #8A8886;
}

